<script>
import Layout from "../../layouts/auth";
import {
  authMethods,
  authFackMethods,
  notificationMethods,
} from "@/state/helpers";
import { mapState, mapGetters } from "vuex";

import appConfig from "@/app.config";
import { required, numeric, minLength } from "vuelidate/lib/validators";

/**
 * Login component
 */
export default {
  page: {
    title: "Đăng nhập",
    meta: [
      {
        name: "description",
        content: appConfig.description,
      },
    ],
  },
  components: {
    Layout,
  },
  data() {
    return {
      phone: "",
      password: "",
      submitted: false,
      authError: null,
      tryingToLogIn: false,
      isAuthError: false,
      prevRoute: null,
    };
  },
  validations: {
    phone: {
      required,
      //numeric,
      //minLength: minLength(9)
    },
    password: {
      required,
    },
  },
  computed: {
    ...mapState("authfack", ["status"]),
    notification() {
      return this.$store ? this.$store.state.notification : null;
    },
  },
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.prevRoute = from;
    });
  },
  methods: {
    ...authMethods,
    ...authFackMethods,
    ...notificationMethods,
    // Try to log the user in with the username
    // and password they provided.
    tryToLogIn() {
      this.submitted = true;
      // stop here if form is invalid
      this.$v.$touch();

      if (this.$v.$invalid) {
        return;
      } else {
        const { phone, password } = this;
        if (phone && password) {
          console.log("run thoi");
          this.login({
            phone,
            password,
          });
        }
      }
    },
  },
  mounted() {},
};
</script>

<template>
  <Layout>
    <vue-snotify></vue-snotify>
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="card text-center">
          <div class="card-body">
            <div class="card-header bg-success">
              <h4 class="d-block card-title text-white">Thông báo</h4>
            </div>
            <div class="card-content mt-5">
              <h5 class="d-block text-success">Đăng nhập thành công !</h5>
              <a class="mt-3 btn btn-outline-success" @click="$router.go(-1)">
                Tiếp tục</a
              >
            </div>
          </div>
        </div>
      </div>

      <!-- end col -->
    </div>
    <!-- end row -->
  </Layout>
</template>
