<script>
import Layout from "../../layouts/auth";
import {
  authMethods,
  authFackMethods,
  notificationMethods,
} from "@/state/helpers";
import { mapState, mapGetters } from "vuex";

import appConfig from "@/app.config";
import { required, numeric, minLength } from "vuelidate/lib/validators";

/**
 * Login component
 */
export default {
  page: {
    title: "Đăng nhập",
    meta: [
      {
        name: "description",
        content: appConfig.description,
      },
    ],
  },
  components: {
    Layout,
  },
  data() {
    return {
      phone: "",
      password: "",
      submitted: false,
      authError: null,
      tryingToLogIn: false,
      isAuthError: false,
      isLoading: false,
    };
  },
  validations: {
    phone: {
      required,
      //numeric,
      //minLength: minLength(9)
    },
    password: {
      required,
    },
  },
  computed: {
    ...mapState("authfack", ["status"]),
    notification() {
      return this.$store ? this.$store.state.notification : null;
    },
  },
  methods: {
    ...authMethods,
    ...authFackMethods,
    ...notificationMethods,
    // Try to log the user in with the username
    // and password they provided.
    async tryToLogIn() {
      this.submitted = true;
      this.isLoading = true;
      // stop here if form is invalid
      this.$v.$touch();

      if (this.$v.$invalid) {
        return;
      } else {
        const { phone, password } = this;
        if (phone && password) {
          console.log("run thoi");
          await this.login({
            phone,
            password,
          });
        }
      }
      this.isLoading = false;
    },
    async loginFb() {
      await this.loginFacebook();
    },
  },
  mounted() {},
};
</script>

<template>
  <Layout>
    <vue-snotify></vue-snotify>
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="bg-soft bg-primary">
            <div class="row">
              <div class="col-7">
                <div class="text-primary p-4">
                  <h5 class="text-primary">Đăng nhập</h5>
                </div>
              </div>
              <div class="col-5 align-self-end">
                <img
                  src="@/assets/images/profile-img.png"
                  alt
                  class="img-fluid"
                />
              </div>
            </div>
          </div>
          <div class="card-body pt-0">
            <div>
              <router-link to="/">
                <div class="avatar-md profile-user-wid mb-4">
                  <span
                    class="avatar-title rounded-circle border border-primary"
                    style="overflow: hidden"
                  >
                    <img src="@/assets/images/logo.jpg" alt height="78" />
                  </span>
                </div>
              </router-link>
            </div>
            <b-alert
              v-model="isAuthError"
              variant="danger"
              class="mt-3"
              dismissible
              >{{ authError }}</b-alert
            >
            <div
              v-if="notification.message"
              :class="'alert ' + notification.typeLable"
            >
              {{ notification.message }}
            </div>

            <div id="recaptcha-container"></div>

            <b-form class="p-2">
              <b-form-group
                class="mb-3"
                id="input-group-1"
                label="Số điện thoại hoặc Email"
                label-for="input-1"
              >
                <b-form-input
                  id="input-1"
                  v-model="phone"
                  type="text"
                  placeholder="Vui lòng nhập số điện thoại hoặc email"
                  :class="{ 'is-invalid': submitted && $v.phone.$error }"
                ></b-form-input>
                <div
                  v-if="submitted && $v.phone.$error"
                  class="invalid-feedback"
                >
                  <span v-if="!$v.phone.required"
                    >Vui lòng nhập số điện thoại hoặc email</span
                  >
                </div>
              </b-form-group>

              <b-form-group
                class="mb-3"
                id="input-group-2"
                label="Mật khẩu"
                label-for="input-2"
              >
                <b-form-input
                  id="input-2"
                  v-model="password"
                  type="password"
                  placeholder="Vui lòng nhập mật khẩu"
                  :class="{ 'is-invalid': submitted && $v.password.$error }"
                ></b-form-input>
                <div
                  v-if="submitted && !$v.password.required"
                  class="invalid-feedback"
                >
                  Vui lòng nhập mật khẩu.
                </div>
              </b-form-group>
              <div class="mt-3 d-grid">
                <b-button
                  v-if="!isLoading"
                  @click="tryToLogIn()"
                  variant="primary"
                  class="btn-block"
                  >Đăng nhập</b-button
                >
                <b-button v-else variant="primary" class="btn-block">
                  <b-spinner small label="Spinning"></b-spinner>
                  Đăng nhập</b-button
                >
              </div>

              <div class="mt-4 text-center">
                <router-link to="/forgot-password" class="text-muted">
                </router-link>
              </div>
            </b-form>
          </div>
          <!-- end card-body -->
        </div>
        <!-- end card -->

        <!-- end row -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </Layout>
</template>
