<script>
import axios from "@/services/axios.service";

import {
  authMethods,
  authFackMethods,
  notificationMethods,
} from "@/state/helpers";
import Layout from "../../layouts/auth";
import appConfig from "@/app.config";
import { mapState } from "vuex";

import { required, email } from "vuelidate/lib/validators";

/**
 * Register component
 */
export default {
  page: {
    title: "Register",
    meta: [
      {
        name: "description",
        content: appConfig.description,
      },
    ],
  },
  components: {
    Layout,
  },
  data() {
    return {
      user: {
        name: "",
        email: "",
        phone: "",
        password: "",
      },
      submitted: false,
      regError: null,
      tryingToRegister: false,
      isRegisterError: false,
      registerSuccess: false,
    };
  },
  validations: {
    user: {
      name: {
        required,
      },
      email: {
        required,
        email,
      },
      phone: {
        required,
      },
      password: {
        required,
      },
    },
  },
  computed: {
    ...mapState("authfack", ["status"]),
    notification() {
      return this.$store ? this.$store.state.notification : null;
    },
  },
  methods: {
    ...authMethods,
    ...authFackMethods,
    ...notificationMethods,
    // Try to register the user in with the email, username
    // and password they provided.
    tryToRegisterIn() {
      this.submitted = true;
      // stop here if form is invalid
      this.$v.$touch();

      if (this.$v.$invalid) {
        console.log("run nha");
        return;
      } else {
        console.log("run nha 2");
        console.log("vao ay ma");
        const { email, name, phone, password } = this.user;
        if (email && name && phone && password) {
          console.log(this.user);
          console.log("ok");
          this.registeruser(this.user);
        }
      }
    },
  },
};
</script>

<template>
  <Layout>
    <vue-snotify></vue-snotify>
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="bg-soft bg-primary">
            <div class="row">
              <div class="col-7">
                <div class="text-primary p-4">
                  <h5 class="text-primary">Đăng ký</h5>
                </div>
              </div>
              <div class="col-5 align-self-end">
                <img
                  src="@/assets/images/profile-img.png"
                  alt
                  class="img-fluid"
                />
              </div>
            </div>
          </div>
          <div class="card-body pt-0">
            <div>
              <router-link to="/">
                <div class="avatar-md profile-user-wid mb-4">
                  <span
                    class="avatar-title rounded-circle border border-primary"
                    style="overflow: hidden"
                  >
                    <img
                      src="@/assets/images/logo.jpg"
                      alt
                      class="rounded-circle"
                      height="78"
                    />
                  </span>
                </div>
              </router-link>
            </div>

            <b-alert
              v-model="registerSuccess"
              class="mt-3"
              variant="success"
              dismissible
              >Đăng ký thành công!</b-alert
            >

            <b-alert
              v-model="isRegisterError"
              class="mt-3"
              variant="danger"
              dismissible
              >{{ regError }}</b-alert
            >

            <div
              v-if="notification.message"
              :class="'alert ' + notification.typeLable"
            >
              {{ notification.message }}
            </div>

            <b-form class="p-2" @submit.prevent="tryToRegisterIn">
              <b-form-group
                class="mb-3"
                id="name-group"
                label="Họ và tên*:"
                label-for="name"
              >
                <b-form-input
                  id="name"
                  v-model="user.name"
                  type="text"
                  placeholder="Nhập tên đầy đủ"
                  :class="{
                    'is-invalid': submitted && $v.user.name.$error,
                  }"
                ></b-form-input>
                <div
                  v-if="submitted && !$v.user.name.required"
                  class="invalid-feedback"
                >
                  Vui lòng nhập tên đầy đủ.
                </div>
              </b-form-group>

              <b-form-group
                class="mb-3"
                id="email-group"
                label="Email"
                label-for="email"
              >
                <b-form-input
                  id="email"
                  v-model="user.email"
                  type="email"
                  placeholder="Nhập email"
                  :class="{ 'is-invalid': submitted && $v.user.email.$error }"
                ></b-form-input>
                <div
                  v-if="submitted && $v.user.email.$error"
                  class="invalid-feedback"
                >
                  <span v-if="!$v.user.email.required"
                    >Vui lòng nhập Email.</span
                  >
                  <span v-if="!$v.user.email.email"
                    >Vui lòng nhập Email hợp lệ.</span
                  >
                </div>
              </b-form-group>

              <b-form-group
                class="mb-3"
                id="phone-group"
                label="Số điện thoại*:"
                label-for="phone"
              >
                <b-form-input
                  id="phone"
                  v-model="user.phone"
                  placeholder="Nhập số điện thoại."
                  :class="{ 'is-invalid': submitted && $v.user.phone.$error }"
                ></b-form-input>
                <div
                  v-if="submitted && $v.user.phone.$error"
                  class="invalid-feedback"
                >
                  <span v-if="!$v.user.phone.required"
                    >Vui lòng nhập số điện thoại.</span
                  >
                  <span v-if="!$v.user.phone"
                    >Vui lòng nhập số điện thoại hợp lệ.</span
                  >
                </div>
              </b-form-group>

              <b-form-group
                class="mb-3"
                id="password-group"
                label="Mật khẩu"
                label-for="password"
              >
                <b-form-input
                  id="password"
                  v-model="user.password"
                  type="password"
                  placeholder="Nhập mật khẩu"
                  :class="{
                    'is-invalid': submitted && $v.user.password.$error,
                  }"
                ></b-form-input>
                <div
                  v-if="submitted && !$v.user.password.required"
                  class="invalid-feedback"
                >
                  Vui lòng nhập mật khẩu.
                </div>
              </b-form-group>

              <div class="mt-4 d-grid">
                <b-button type="submit" variant="primary" class="btn-block"
                  >Đăng ký ngay</b-button
                >
              </div>
            </b-form>
          </div>
          <!-- end card-body -->
        </div>
        <!-- end card -->

        <div class="mt-5 text-center">
          <p>
            Bạn đã có tài khoản ?
            <router-link to="/login" class="fw-medium text-primary"
              >Đăng nhập</router-link
            >
          </p>
        </div>
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </Layout>
</template>
