<template>
  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          {{ new Date().getFullYear() - 1 }} - {{ new Date().getFullYear() }} ©
          Ksoft.
        </div>
        <div class="col-sm-6"></div>
      </div>
    </div>
  </footer>
  <!-- end footer -->
</template>
