@use 'sass:math';

@import "custom/components/animation";

.modal-backdrop {
    opacity: .5;
}

.modal-header,
.alert {
    .close {
        padding: 0.3rem 1.75rem;
        background: transparent;
        border: 0;
        font-size: 25px;
        position: absolute;
        top: 0;
        right: 0;
        opacity: .4;
        width: 1em;
        height: 1em;
        z-index: 2;

        button {
            display: none;
        }
    }
}

.form-row {
    display: flex;
    flex-wrap: wrap;
}

.vhd__datepicker__input {
    height: $input-height !important;
    line-height: $input-height !important;
}

.form-check {
    .custom-control-input {
        border-radius: .25em;
        float: left;
        margin: 3px 3px 3px -19px !important;
    }
}

.check-group {
    input {
        position: absolute;
        clip: rect(0, 0, 0, 0);
        pointer-events: none;
    }
}

.vue-simple-drawer {
    background: $gray-100 !important;
    color: $gray-800 !important;

    .close-btn {

        .leftright,
        .rightleft {
            width: 20px !important;
            background-color: $gray-600 !important
        }
    }
}

body {
    * {
        outline: none;
    }
}

.b-form-btn-label-control {
    padding: 0;
    border: none;

    >.btn {
        position: absolute;
        right: 0;
        top: 0;

        &:focus {
            box-shadow: none;
        }
    }
}

.vue-simple-drawer {
    // default style
    padding: 20px;
    color: $--simple-drawer-fg-color;
    background: $--simple-drawer-bg-color;
    // common
    position: fixed;
    overflow: auto;

    &.closeable {
        padding-top: 40px;
    }

    &.left {
        left: 0;
        top: 0;
        bottom: 0;
    }

    &.right {
        right: 0;
        top: 0;
        bottom: 0;
    }

    &.up {
        top: 0;
        left: 0;
        right: 0;
    }

    &.down {
        bottom: 0;
        left: 0;
        right: 0;
    }

    .close-btn {
        width: $--simple-drawer-close-width;
        height: $--simple-drawer-close-width;
        position: absolute;
        right: 0;
        top: 20px;
        transform: translate(-50%, -50%);
        color: currentColor;
        font-size: 20px;
        cursor: pointer;
        user-select: none;

        .leftright {
            height: 4px;
            width: $--simple-drawer-close-width;
            position: absolute;
            margin-top: math.div($--simple-drawer-close-width, 2);
            background-color: $--simple-drawer-softorange;
            border-radius: 2px;
            transform: rotate(45deg);
            transition: all 0.3s ease-in;
        }

        .rightleft {
            height: 4px;
            width: $--simple-drawer-close-width;
            position: absolute;
            margin-top: math.div($--simple-drawer-close-width, 2);
            background-color: $--simple-drawer-softorange;
            border-radius: 2px;
            transform: rotate(-45deg);
            transition: all 0.3s ease-in;
        }

        .close {
            margin: 60px 0 0 5px;
            position: absolute;
        }

        &:hover .leftright {
            transform: rotate(-45deg);
            background-color: $--simple-drawer-tomatored;
        }

        &:hover .rightleft {
            transform: rotate(45deg);
            background-color: $--simple-drawer-tomatored;
        }
    }
}

.mask {
    position: fixed;
    background: grey;
    opacity: 0.5;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
}
// custom css
label {
    margin-bottom: 0;
}
.hide{
    display: none;
}
// timeline
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
.sidebar-enable.vertical-collpsed .navbar-brand-box .name-company{
    display: none;
}
@media (max-width: 992px) {
    .navbar-brand-box .name-company {
      display: none; } 
    }
    
    .form-control:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    }
    .btn:focus, .btn:active {
        outline: none !important;
        box-shadow: none !important;
      }
