<script>
import appConfig from "@/app.config";
import Vue from "vue";
import {
  notificationMethods,
  authMethods,
  authFackMethods,
} from "@/state/helpers";

export default {
  name: "app",
  components: {},
  computed: {},
  data() {
    return {
      isShow: false,
      dataCall: {},
      isShowDialer: false,
      dataCallDialer: {},
      isShowNoticeMuch: true,
    };
  },
  page: {
    // All subcomponent titles will be injected into this template.
    titleTemplate(title) {
      title = typeof title === "function" ? title(this.$store) : title;
      return title ? `${title} | ${appConfig.title}` : appConfig.title;
    },
  },
  sockets: {},
  mounted() {},
  watch: {
    /**
     * Clear the alert message on route change
     */
    // eslint-disable-next-line no-unused-vars
    $route(to, from) {
      // clear alert on location change
      this.clearNotification();
      Vue.prototype.$snotify.clear();
    },
  },
  methods: {
    ...authMethods,
    ...authFackMethods,
    clearNotification: notificationMethods.clear,
    ...notificationMethods,
    hangUpCall() {
      this.isShow = false;
      this.dataCall = {};
    },
    hangUpCallDialer() {
      this.isShowDialer = false;
      this.dataCallDialer = {};
    },
    closeNoticeMuch() {
      this.isShowNoticeMuch = false;
      this.dataNoticeMuch = {};
    },
  },
};
</script>

<template>
  <div id="app">
    <RouterView />
  </div>
</template>
